@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html,body{
    font-family: 'Poppins' !important;
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important; 
}
a{
    color: #212121 !important;
    text-decoration: none;
}
.navbar{
     border-bottom: 1px solid rgb(200, 198, 198); 
}
.logo{
    height: 38px;
    width: 100%;
}
.nav_main{
    font-weight: 610;
}
.scndbar{
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}
.nav_main:hover{
    color: #ff6f61 !important;
}

.carousel-item>img{
    width: 100%;
    height: 300px !important;
    
}
.slideshow{
    border: 2px solid #969393;
}
.carousel{
    padding: 0px 0px !important;
    
}
.addv{
    padding: 0px 0px !important;
    
}
.adimg{
    width: 100%;
    height: 300px !important;
    
}
.title{
    display: flex;
    justify-content: center;
    padding: 15px !important;
    border-bottom: 2px solid #969393;
}
.title p{
    margin-top: 10px;
    font-size: 20px;
    color: #666;
    word-spacing: 5px;
}
.offer{
    width: 100% !important;
    height: 200px;
    background-color: #ebe7e7;
    
    
}
.offer img{
    padding: 30px;
    width: 100%;
    
}
.lists{
    background-color: #b9b9b9;
}